{% extends "./layouts/default.html" %}


{% block content %}

<div class="slide-select-ss">
	<ul class="slide-select-selectors">
		<li class="slide-selector active">select 1</li>
		<li class="slide-selector">select 2</li>
		<li class="slide-selector">select 3</li>
	</ul>
	<div class='slide-select-slides'>
		<div class='active'>
			<p>Ea gentrify sunt magna, schlitz edison bulb kogi fixie plaid lomo non iPhone. VHS tacos iPhone, ennui food truck sunt cupidatat XOXO man bun. Cornhole jianbing sunt minim schlitz, af adipisicing assumenda post-ironic ennui. Ennui fugiat hell of, taxidermy vero labore direct trade cold-pressed typewriter incididunt microdosing seitan tattooed proident jean shorts.</p>
		</div>
		<div>
			<p>Kombucha pop-up try-hard plaid, godard yuccie post-ironic ugh banjo umami fingerstache subway tile hoodie kitsch. Forage drinking vinegar YOLO laborum, you probably haven't heard of them incididunt flexitarian offal prism ugh. Intelligentsia hot chicken thundercats next level, viral sint selfies food truck tofu franzen deep v vinyl. Butcher poutine vaporware tofu, la croix truffaut master cleanse pitchfork tempor dreamcatcher man bun prism drinking vinegar iceland. viral sint selfies food truck tofu franzen deep v vinyl. Butcher poutine vaporware tofu, la croix truffaut master cleanse pitchfork tempor dreamcatcher man bun prism drinking vinegar iceland. </p>
		</div>
		<div>
			<p>Helvetica cornhole wolf before they sold out, celiac actually air plant gochujang veniam distillery etsy semiotics migas williamsburg bespoke. Vape labore stumptown placeat man braid kale chips.</p>
		</div>
	</div>
</div>


{% endblock %}

